<?xml version="1.0" encoding="utf-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">
	<resultMap id="resultBoard" type="Board">
		<!-- prop 는 필드명, column 은 DB 컬럼 명 -->
		<id property="boardNum" column="BOARD_NUM" />
		<result property="boardTitle" column="BOARD_TITLE" />
		<result property="boardWriter" column="BOARD_WRITER" />
		<result property="boardContent" column="BOARD_CONTENT" />
		<result property="boardOriginalFileName"
			column="BOARD_ORIGINAL_FILENAME" />
		<result property="boardRenameFileName"
			column="BOARD_RENAME_FILENAME" />
		<result property="boardDate" column="BOARD_DATE" />
		<result property="boardLevel" column="BOARD_LEVEL" />
		<result property="boardRef" column="BOARD_REF" />
		<result property="boardReplyRef" column="BOARD_REPLY_REF" />
		<result property="boardReplySeq" column="BOARD_REPLY_SEQ" />
		<result property="boardReadCount" column="BOARD_READCOUNT" />
	</resultMap>
	
	<!-- 1. ROWNUM을 사용하는 경우 -->
	<!-- <select id="selectAll" parameterType="BoardPage" resultType="arraylist" 
		resultMap="resultBoard"> 쿼리 내부에 부등호를 사용할 경우, 태그의 구분자(‘<’, ’>’, '&')로 인식하기 때문에 
		<![CDATA[ “Query” ]]> 코드로 쿼리를 감싸 부등호로 인식시켜야 한다. 
		-->
		
		<select id="selectAll_Rownum" parameterType="hashmap" resultMap="resultBoard">
			<![CDATA[ SELECT * FROM (SELECT 
			ROWNUM RNUM, BOARD_NUM, BOARD_TITLE, BOARD_WRITER, BOARD_CONTENT, BOARD_ORIGINAL_FILENAME, 
			BOARD_RENAME_FILENAME, BOARD_DATE, BOARD_LEVEL, BOARD_REF, BOARD_REPLY_REF, 
			BOARD_REPLY_SEQ, BOARD_READCOUNT FROM (SELECT * FROM BOARD ORDER BY BOARD_REF 
			DESC, BOARD_REPLY_REF DESC, BOARD_LEVEL, BOARD_REPLY_SEQ)) WHERE RNUM >= 
			#{start} AND RNUM <= #{end} ]]> 
		</select>

	<!-- 2. Rowbounds 을 사용하는 경우 -->
	<select id="selectAll" resultMap="resultBoard"> 
 		<![CDATA[ 
		 SELECT * FROM (SELECT ROWNUM RNUM, BOARD_NUM, BOARD_TITLE, 
		BOARD_WRITER, 
		 BOARD_CONTENT, BOARD_ORIGINAL_FILENAME, BOARD_RENAME_FILENAME, 
		 BOARD_DATE, BOARD_LEVEL, BOARD_REF, BOARD_REPLY_REF, BOARD_REPLY_SEQ, 
		 BOARD_READCOUNT 
		 FROM (SELECT * FROM BOARD ORDER BY BOARD_REF DESC, BOARD_REPLY_REF DESC, 
		 BOARD_LEVEL, BOARD_REPLY_SEQ)) 
		 ]]>
	</select>

	<select id="listCount" resultType="_int">
		SELECT COUNT(*) FROM BOARD 
	</select>
</mapper>